body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    color:rgb(0, 0, 33)
}

.grid_container {
    grid-template-columns: 1fr;
}

.foto {
    object-fit: cover;
}

.bici {
    width: 28em;
}