body {
    background-color: aliceblue;
    color:rgb(0, 0, 33);
    font-family: titillium web;
    margin: 0;
    padding: 0; 
}



.grid_container {
    grid-template-columns: 1fr;
}

.bici {
    width: 30em;
    height: 20em;
    object-fit: contain;
    background-color: white;

}

.uno {
    border: black solid 1px;
}

footer {
    padding: 1em;
    display: flex;
    background-color: #014C8D;
    color: #fff;
    justify-content: center;
}
